.DS_STORE
node_modules
dist
.parcel-cache
src/test
src/components/pages/*
src/components/pages/makerClass/timelapse.mp4
!src/components/pages/doorman
!src/components/pages/sois
!src/components/pages/microsoft
!src/components/pages/hitchhiking
!src/components/pages/friendzone
!src/components/pages/moog
!src/components/pages/htl
!src/components/pages/nasa
!src/components/pages/microsoft
!src/components/pages/businessCard
!src/components/pages/ti
!src/components/pages/makerClass
!src/components/pages/id
!src/components/pages/gradParty
!src/components/pages/personalWebsite
!src/components/pages/contact
.env.local