// === CONSTANTS ===

// =Colors=
$neutral:   #FDFDFD;
$contrast:  #25313F;
$primary:   #008B84;
$highlight: #437477;
$muted:     #F2F6F6;
$accent1:   #B76AEF;
$accent2:   #5C5C5C;
$accent3:   #F3BA38;
$accent4:   #5781EF;
$grad-background: radial-gradient(
    100% 138.89% at 100% 51.9%, #E0EDED 0%, #FDFDFD 100%);
//$border-dark: rgba($base-color, 0.88);

// =Fonts=
$primary-type: "Raleway";
$paragraph-type: "Titillium Web";

// =Sizes=
$frame-padding: 20px;
$frame-height: calc(100vh - (2 * $frame-padding));
$margin-right-spacing: 10px;
$nav-width: 200px;
$cardNav-width: 400px;

// =Animations=
$color-transition-time: 0.1s;


// === ROOT ===
:root {
    --accent1: #{$accent1};
    --accent2: #{$accent2};
    --accent3: #{$accent3};
    --accent4: #{$accent4};
}


// === GLOBAL CLASSES ===
.explo {
    background-color: --accent1;
    color: --accent1;
}
.collab {
    background-color: --accent3;
    color: --accent3;
}
.prob {
    background-color: --accent4;
    color: --accent4;
}
.work {
    width: 22px;
    height: 22px;
    rotate: 45deg;
    overflow: hidden;
    .timelineIcon {
        width: 141%;
        height: 141%;
        transform: rotate(-45deg) translate(0, -20%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
.adventure {
    width: 24px;
    height: 24px;
}
.project {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    overflow: hidden;
}



// === ELEMENTS ===
body {
    font-family: $primary-type, sans-serif;
    margin: 0;
    color: $contrast;
    height: 100vh;
    background: $grad-background;
}

h1 {
    font-family: $primary-type;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
}

h2 {
    font-family: $primary-type;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height, or 146% */
}

h3 {
    font-family: $primary-type;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 19px;
    /* identical to box height */
}

h4 {
    font-family: $primary-type;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
}

h5 {
    font-family: $primary-type;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
}

p {
    font-family: $paragraph-type, $primary-type, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

a {
    color: $contrast;
    text-decoration: none;
    &:hover {
        color: $contrast;
    }
}

/* Track */
::-webkit-scrollbar {
    width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 2px;
    opacity: 0.2;
}


// === IDS ===

#frame {
    max-width: 1440px;
    height: $frame-height;
    margin: auto;
    padding-top: $frame-padding;
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: relative;
}

#nav {
    flex: 0 1 $nav-width;
    height: $frame-height;
    margin-left: 10px;

    #headshotArea {
        $headshot-size: 160px;
        $headshot-background-padding: 2px;
        padding: $headshot-background-padding;
        margin: auto;
        width: $headshot-size + $headshot-background-padding;
        height: $headshot-size + $headshot-background-padding;
        background-color: $muted;
        border-radius: 50%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        
        #headshotImage {
            display: block;
            margin: auto;
            margin-top: calc($headshot-background-padding/2);
            width: $headshot-size;
            height: $headshot-size;
            border-radius: 50%;
        }
    }

    #name {
        text-align: center;
    }

    #navLinkArea {
        position: absolute;
        bottom: 0px;

        h3 {
            padding-top: 15px;
        }

        .navLink{
            color: $contrast;
            -webkit-transition: color $color-transition-time;
            -moz-transition:    color $color-transition-time;
            -ms-transition:     color $color-transition-time;
            -o-transition:      color $color-transition-time;
            transition:         color $color-transition-time;
            transition-timing-function: ease-out;
            
            &:hover {
                color: $primary;
                cursor: pointer;
            }
        }
            
        a.active {
            opacity: 0.4;
        }
    }
}

#storiesMenu {
    flex: 1 1 auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#vdivider {
    flex: 0 0 0px;
    position: relative;
    height: calc($frame-height - 4px);
    border: 2px solid #008B84;
    border-radius: 2px;
    margin-right: 10px;
}

#cardNav {
    flex: 0 0 $cardNav-width;
    display: flex;
    flex-flow: column;
    height: $frame-height;
}
    
#filterArea {
    flex: 0 1 155px;

    .hidden {
        opacity: 0.2;
    }

    #searchbarArea{
        width: 400px;
        height: 40px;
        background-color: $muted;
        border-radius: 10px;
        display: table-cell;
        vertical-align: middle;
        border: $primary solid 1px;

        #searchbar {
            width: 90%;
            height: 30px;
            background: transparent;
            border: none;
            outline: none;
            font-family: $primary-type;
            margin-left: 10px;
        }
    }

    .filterSpan {
        height: 40px;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .filterGap {
        height: 15px;
    }

    .filter {
        position: relative;
        display: table;
        height: 16px;

        .filterWrapper {
            display: table-cell;
            vertical-align: middle;
            height: 100%;

            .pill {
                width: 24px;
                height: 16px;
                border-radius: 8px;
            }

            .filterIcon {
                margin-right: 5px;
                border: 1 solid $primary;
            }
        }

        .filterText {
            display: table-cell;
            vertical-align: middle;
        }

        h5 {
            align-items: center;
            margin: 0 0;
            white-space: pre-line;
        }
    }
}

#hdivider {
    margin-top: 5px;
    height: 0;
    border: 2px solid #008B84;
    border-radius: 2px;
    flex: 0 1 auto;
}

#timelineFrame {
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 1 1 auto;
    overflow-y: scroll;
    position: relative;
}

#timelineIcons{
    display: flex;
    flex-direction: column;
    gap: 60px;
    

    h4 {
        display: inline;
        position: relative;
        top: -5px;
    }

    .work {
        left: 100px;
    }
    .adventure {
        left: 220px;
    }
    .project {
        left: 340px;
    }
}

.timelineIconHolder {
    position: sticky;
    display: inline-block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}

.timelineIcon {
    width: 100%;
    height: 100%;
}

#timelineHighlight {
    position: absolute;
    background-color: $primary;
    opacity: 0.1;
    width: 340px;
    height: 50px;
    right: 0px;
    top: 0px;
}

#cardArea {
    flex: 1 1 auto;
    padding: 10px 10px 15px 15px;
    height: calc($frame-height - 25px);

    background: $muted;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    overflow-y: auto;
}

#cardAreaContents {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    gap: 15px;
    justify-content: space-evenly;
}

.card {
    width: 100%;
    height: 180px;

    flex: 0 0 180px;
    background-color: #008B84;
    background: $neutral;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: color $color-transition-time;
    -moz-transition:    color $color-transition-time;
    -ms-transition:     color $color-transition-time;
    -o-transition:      color $color-transition-time;
    transition:         color $color-transition-time;
    transition-timing-function: ease-out;

    display: flex;
    flex-direction: row;

    overflow-y: hidden;
    
    cursor: pointer;

    &:hover{
        box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);

        .cardTitle {
            color: $primary;
        }
    }

    .cardThemeBar {
        flex: 0 0 10;
        display: flex;
        flex-direction: column;
        height: 100%;

        .cardThemeBlock {
            flex: 1 1 auto;
        }
    }

    .thumbnailArea {
        width: 240px;
        height: 180px;
        margin-right: 24px;
        overflow: hidden;
    }

    .thumbnail {
        margin: auto;
        display: block;
    }

    .cardTextArea {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 0px;
        gap: 20px;
    }

    .cardTitle {
        flex: none;
        flex-grow: 0;
        margin: 0;
        color: $contrast;
        -webkit-transition: color $color-transition-time;
        -moz-transition:    color $color-transition-time;
        -ms-transition:     color $color-transition-time;
        -o-transition:      color $color-transition-time;
        transition:         color $color-transition-time;
        transition-timing-function: ease-out;
    }

    .cardDescript {
        flex: none;
        flex-grow: 0;
        margin: 0;
    }
}

#detail {
    flex: 1 1 auto;
    z-index: 10;
    min-height: 100%;
    position: relative;
    &.popout {
        background: $neutral;
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    }
}

#storyCardHolder {
    margin: auto;
    max-width: 763px;
}

#storyContents {
    max-width: 700px;
    margin: auto;
    font-family: $paragraph-type;
    font-size: 18px;
    padding-right: 40px;;

    h1 {
        font-size: 48;
        font-weight: 600;
        text-align: center;
    }

    h2 {
        font-size: 36;
        font-weight: 500;
    }

    h3 {
        font-size: 24;
        font-weight: 700;
        color: $primary;
        padding-top: 20px;
    }

    h4 {
        font-size: 18;
        font-weight: 400;
    }

    p {
        font-size: 18;
        font-family: $primary-type;
        text-align: justify;
        text-justify: inter-word;
        padding-bottom: 0px;
        line-height: 120%;
    }

    #introduction {
        p {
            font-style: italic;
            font-weight: 500;
        }
    }
}

#loadingScreen {
    margin: auto;
    text-align: center;

    h1 div{
        float: right;
    }
}

#summaryView {
    background-color: $neutral;
    opacity: 0.90;
    width: $nav-width + $cardNav-width + calc(4 * $margin-right-spacing);
    height: 100%;
    position:relative;
    top: -100%;
    left: calc(-1 * $nav-width - (3 * $margin-right-spacing));

    #summaryTextArea {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }

    #summaryText {
        text-align: center;
    }

    #summaryButtonArea {
        position: absolute;
        bottom: 150px;
        display: flex;
        justify-content: space-around;
        width: 100%;

        .iconOutline {
            flex: 0 0 auto;
        }
    }
}

.solidIcon {
    width: 50px;
    height: 50px;
    color: $primary;
    cursor: pointer;

    &.muted {
        opacity: 0.7;
    }
    
    &:hover {
        opacity: 0.7;
    }
}

.iconOutline {
    width: 50px;
    height: 50px;
    outline: 3 solid $primary;
    border-radius: 10px;

    .mute {
        opacity: 0.5;
    }

    .icon {
        margin:auto;
        height: 100%;

        ion-icon {
            color: $primary;
            height: 100%;
            width:100%;
            display:flex;
            align-items:center;
            justify-content:center;
        }

    }
}

.closeButton{
    position: absolute;
    box-sizing: border-box;
    top: 20px;
    right: 20px;
    z-index: 30;

    .solidIcon {
        width: 35px;
        height: 35px;
    }
}

#slogan {
    margin: auto;
    text-align: center;
    
    h1 {
        font-style: italic;
    }
}

#testiArea {
    width: 100%;
}

.testiCard {
    background-color: $neutral;
    border-radius: 20px;
    width: 340px;
    padding: 0 5px 0 5px;
}

.testiCardQuote {
    font-weight: 600;
    position: relative;
    top: 5px;
    left: 10px;
}

.testiCardAuthor {
    color: $primary;
    font-weight: 300;
    text-align: right;
    position: relative;
    bottom: 5px;
    right: 10px;
}

#landingPage {
    z-index: 20;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding-right: 200px;
    padding-bottom: 200px;
    background-color: $neutral;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#landingArea {
    position: absolute;
    // left: 50%;
    // top: 50%;
    // -webkit-transform: translate(-50%, -50%);
    // transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 700px;
}

#introImageArea {
    flex: 0 1 650px;
    min-width: 200px;
    display: flex;
    justify-content: center;
}

#introImage {
    width: 100%;
    object-fit: contain;
}

#landingInterface {
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    flex: 0 0 500px;
}

#landingText {
    padding-top: 150px;

    h1 {
        display: inline;
        font-size: 58;
        font-weight: 600;
    }

    #themeList {
        margin-top: 40px;
    }

    span {
        background: none;
        font-size: 21;
    }
}

#landingOptions {
    padding-top: 60px;
    padding-left: 60px;

    #landingIntroOption{
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        width: fit-content;

        svg {
            position: relative;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
    
    h3 {
        font-size: 40;
        color: $primary;
    }

    #landingMainOption {
        font-weight: 500;
        width: fit-content;
    }

    a {
        display: block;
        width: fit-content;
        
        &:hover {
            opacity: 0.5;
        }
    }
}

.Typist .Cursor {
    display: inline-block;
    opacity: 0.3;
}
.Typist .Cursor--blinking {
    animation: blink 1s step-start infinite; }

@keyframes blink {
0% {
    opacity: 0.3; }
50% {
    opacity: 0; }
100% {
    opacity: 0.3; } }