// === CONSTANTS ===

// =Colors=
$neutral:   #FDFDFD;
$contrast:  #25313F;
$primary:   #008B84;
$highlight: #437477;
$muted:     #F2F6F6;
$accent1:   #B76AEF;
$accent2:   #5C5C5C;
$accent3:   #F3BA38;
$accent4:   #5781EF;
//$border-dark: rgba($base-color, 0.88);

// =Fonts=
$primary-type: "Raleway";

// =Sizes=
$frame-padding: 20px;
$full-height: calc(100vh - (2 * $frame-padding));
$margin-right-spacing: 10px;



// === ELEMENTS ===
body {
    font-family: $primary-type, sans-serif;
    margin: 0;
    color: $contrast;
    background: radial-gradient(
        100% 138.89% at 100% 51.9%, #E0EDED 0%, #FDFDFD 100%);
}

h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
}

h2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height, or 146% */
}

h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
}

h4 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
}

p {
    font-family: 'Titillium Web', 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}


// === IDS ===

#frame {
    max-width: 1440px;
    height: 100vh;
    margin: auto;
    padding: $frame-padding;
}

#nav {
    float: left;
    width: 200px;
    height: $full-height;
    margin-right: $margin-right-spacing;

    #headshotArea {
        $headshot-size: 160px;
        $headshot-background-padding: 2px;
        padding: $headshot-background-padding;
        margin: auto;
        width: $headshot-size + $headshot-background-padding;
        height: $headshot-size + $headshot-background-padding;
        background-color: $muted;
        border-radius: 50%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        
        #headshotImage {
            display: block;
            margin: auto;
            margin-top: calc($headshot-background-padding/2);
            width: $headshot-size;
            height: $headshot-size;
            border-radius: 50%;
        }
    }

    #name {
        text-align: center;
    }

    #navLinkArea {
        position: absolute;
        bottom: 0px;

        $color-transition-time: 0.4s;
        .navLink{
            color: $contrast;
            -webkit-transition: color $color-transition-time;
            -moz-transition:    color $color-transition-time;
            -ms-transition:     color $color-transition-time;
            -o-transition:      color $color-transition-time;
            transition:         color $color-transition-time;
            transition-timing-function: ease-out;
        }
        .navLink:hover {
            color: $primary;
            cursor: pointer;
        }
    }
}

#main {
    height: 100%;
}

#detail {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#vdivider {
    float: left;
    position: relative;
    width: 0;
    height: $full-height;
    border: 2px solid #008B84;
    border-radius: 2px;
    margin-right: $margin-right-spacing;
}

#cardNav {
    flex: 0 1 400px;
    display: flex;
    flex-flow: column;
    height: $full-height;
}
    
#filterArea {
    flex: 0 1 155px;

    #searchbarArea{
        width: 400px;
        height: 40px;
        background-color: $muted;
        border-radius: 10px;
        display: table-cell;
        vertical-align: middle;

        #searchbar {
            width: 90%;
            height: 30px;
            background: transparent;
            border: none;
            outline: none;
            font-family: $primary-type;
            margin-left: 10px;
        }
    }

    .filterSpan {
        height: 40px;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .filter {
        position: relative;
        display: table;
        height: 16px;

        .filterWrapper {
            display: table-cell;
            vertical-align: middle;
            height: 100%;

            .filterIcon {
                width: 24px;
                height: 16px;
                border-radius: 8px;
                background-color: #008B84;
                margin-right: 5px;
            }
        }

        .filterText {
            display: table-cell;
            vertical-align: middle;
        }

        h4 {
            align-items: center;
            margin: 0 0;
            white-space: pre-line;
        }
    }
}

#hdivider {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 0;
    border: 2px solid #008B84;
    border-radius: 2px;
    flex: 0 1 auto;
}

#timeline {
    background-color: #5781EF;
    flex: 1 1 auto;
}

#cardArea {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 15px;
    gap: 15px;
    height: $full-height;

    /* Brand/Muted */

    background: $muted;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

#card {
    display: flex;
    flex-direction: row;
}