doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway")
    link(rel="stylesheet", href="style.scss")
  body
    #frame 
      #main(style={margin:0})
      #nav asdf 
      #main_vdivider
      #timeline zxcv
      #cards qwer